<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Calendar</title>
</head>
<body>
  <div class="container">
  <!-- เริ่มค้นหาข้อมูล -->
  <form action ="/search" method="POST">
    <label>ค้นหา</label>
    
    <select name="Topic_ID">
        {% for row in topic %}
        <option value="{{row.Topic_ID}}">{{row.Topic_Name}}</option>
        {% endfor %}
    </select>

    <select name="Term">
        <option value="1">เทอม1</option>
        <option value="2">เทอม2</option>
        <option value="3">เทอม3</option>
    </select>
    <input type="submit" class="btn btn-secondary btn-sm">
  </form>
  <!-- จบการค้นหาข้อมูล -->
    <table class="table table-bordered">
        <thead>
          <tr>
             <th>id</th> <!--ดูค่าเพื่อdebug -->
            <th>รหัสกิจกรรม</th>
            <th>กิจกรรม</th>
            <th>เทอม</th>
            <th>วันที่เริ่ม</th>
            <th>วันที่สิ้นสุด</th>
            <th>ปีการศึกษา</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in datas %}
          <tr>
            <td>{{row.id}}</td><!--ดูค่าเพื่อdebug -->
            <!-- <td style="display:none;">{{row.id}}</td>  -->
            <!-- style="display:none;ไม่แสดง id  -->
            <td>{{row.Topic_ID}}</td>
            <td>{{row.Topic_Name}}</td>
            <td>{{row.Term}}</td>
            <td>{{row.Start_Date}}</td>
            <td>{{row.Finish_Date}}</td>
            <td>{{row.Year}}</td>
            <td>
              <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
              <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
            </td>
          </tr>
<!-- -----------------------อัพเดทข้อมูล------------------------------------------------ -->
          <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">อัพเดทข้อมูล</h4>
                </div>
                <div class="modal-body">

                <form action="/update" method="POST">
                    <div class="form-group">
      <!--id ที่จะแก้ --><input type="text" name="id" value="{{row.id}}" readonly> <!--ดูค่าเพื่อdebug -->
                      <label>ชื่อกิจกรรม : {{row.Topic}}</label> 
                    </div>
                    <!-- <div class="form-group">
                      <select name="Topic_ID" >
                        {% for row in datas %}
                        <option value="{{row.Topic_ID}}">{{row.Topic}}</option>
                        {% endfor %}
                      </select>
                    </div> -->
                    <div class="form-group">
                      วันเริ่มกิจกรรม <input type="date" name="Start_Date" value="{{row.Start_Date}}">
                    </div>
                    <div class="form-group">
                      วันสิ้นสุดกิจกรรม <input type="date" name="Finish_Date" value="{{row.Finish_Date}}">
                    </div>
                    
                    <div class="form-group">
                      ภาคเรียน<select name="Term">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                    </div>
                    <div class="form-group">
                      ปีการศึกษา <input type="text" name="Year" value="{{row.Year}}">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">อัพเดท</button>
                      <input type="reset">
                    </div>
                </form>
              </div>

            {% endfor %}
        </tbody>
      </table>
      <a href="/showform" class="btn btn-info" role="button" aria-disabled="true">เพิ่มกิจกรรม</a>
    </div>
</body>
</html>