<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
    
    <div align="center">
        <table class="table table-bordered">
        <tr>
            <th>รหัสวิชา</th>
            <th>ชื่อวิชา</th>
            <th>หน่วยกิต</th>
            <th>เกรด</th>
        </tr>
        {% for row in Subject %}
        <tr>
        
            <td>{{row.Subject_ID}}</td>
            <td>{{row.Subject_TH}}</td>
            <td>{{row.Unit}}</td>
            <td>{{row.Grade}}</td>
        </tr>
        {% endfor%}
        
        </table>

    </div>
    
</body>
</html>