<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style_login.css') }}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div align="center" id="formContent">
        
            <!-- Login Form -->
            <h5 style="margin-top: 100px;">เข้าสู่ระบบ</h5>
            <hr>
            <form>
            <!-- <span class="border" style="width: fit-content;"> -->
                <div class="inputarea">
                    <input type="text"  placeholder="login">
                </div>

                <div class="inputarea">
                    <input type="text"  placeholder="password" style="margin-top: 10px;" >
                </div>

                <div class="inputarea">
                    <input type="submit" class="btn btn-secondary btn-sm" value="Log In" style="margin-top: 20px;">
                </div>
            <!-- </span> -->
            </form>
      
    </div>
</body>
</html>