<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>วันที่เริ่ม</th>
            <th>วันที่สิ้นสุด</th>
          </tr>
        </thead>
        <tbody>
    {% for row in datas %}
          <tr>  
            <td>{{row.Start_Date}}</td>
            <td>{{row.Finish_Date}}</td>
            
          </tr>
            {% endfor %}
</body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>